.create-note-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.create-note-container header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  background-color: #3F51B4;
  padding: 10px 30px;
}

.button {
  height: 60px;
  width: 60px;
  border: 1px solid #ffffff;
  border-radius: 8px;
  text-align: center;
  line-height: 75px;
  transition: transform 300ms;
}

.button:hover {
  transform: scale(1.1);
}

.create-note-container header button {
  height: 60px;
  width: 60px;
  border: 1px solid #ffffff;
  border-radius: 8px;
  background: transparent;
  transition: transform 300ms;
}

.create-note-container header button:hover {
  transform: scale(1.1);
}


.note-content {
  width: 100%;
  max-width: 1150px;
  height: 100%;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
}
.note-content input {
  width: 100%;
  height: 38px;
  padding: 0 10px;
  background-color: #ffffff;
  border: 1px solid #3F51B4;
  border-radius: 8px;
  margin-bottom: 10px;
}